<div class='card'>
    <div class='card-header'>
        {{pageTitle}}     <!--when Angular renders the ProductListComponent, it replaces {{pageTitle}} with the value of the pageTitle property from the component class -->
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]='listFilter'/> <!-- ngModel to use default data-->
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h4>Filtered by: </h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf="products.length"> <!-- Using Directives If-->
          <thead>
            <tr>
              <th>
              <button class="btn btn-primary" (click)="toggleImage()" >  <!--Click event-->
                {{showStatus?'Hide':'Show'}} Image <!--Javascript conditional operator-->
              </button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProduct"> <!-- Using Directives for to loop on our filteredProducts array-->
              <td >  <!--Check the status-->
                <img *ngIf="showStatus" [style.margin.px]='imageMargin' [style.width.px]='imageWidth' [src]='product.imageUrl' [title]='product.productName'> <!-- Property Binding -->
              </td>
              <td>{{product.productName}}</td>
              <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td> <!--built in pipe usage & custom pipe usage must be called inside module-->
              <td>{{product.releaseDate}}</td>
              <td>{{product.price |currency:'USD':'symbol':'1.2-2'}}</td> <!--pipe usage-->
              <td>{{product.starRating}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
