<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
      (ngSubmit)="saveProduct()"
        [formGroup]="productForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="productNameId">Product Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="productNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="productName"
                   value={{product?.productName}}
 />
            <span class="invalid-feedback">
              
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="productCodeId">Product Code</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="productCodeId"
                   type="text"
                   placeholder="Code (required)"
                   formControlName="productCode"
                   value={{product?.productCode}}
                  />
            <span class="invalid-feedback">
            
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="starRatingId">Star Rating (1-5)</label>
  
                 <div class="col-md-8">
                  <input class="form-control"
                         id="ratingId"
                         type="number"
                         formControlName="rating"
                         value={{product?.starRating}}
                         [ngClass]="{'is-invalid': (productForm.get('rating')?.touched || 
                                                    productForm.get('rating')?.dirty) && 
                                                    !productForm.get('rating')?.valid }" />
                  <span class="invalid-feedback">
                    <span *ngIf="productForm.get('rating')?.errors?.['range']">
                      Please rate your experience from 1 to 5.
                    </span>
                  </span>
                </div>
        </div>
  
       
  
        <!-- <div class="row">
          <div class="col-md-2 mb-2">
            <button class="btn btn-outline-secondary btn-sm"
                    type="button"
                    title="Add a search tag"
                 ></button>
     
          </div>
        </div> -->
        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Description</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description"
                      rows=3
                      formControlName="description"
                      value={{product?.description}}
                    ></textarea>
            <span class="invalid-feedback">
            
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    style="width:80px;"
                    type="submit"
                    [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!productForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"
                    style="width:80px;"
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['/products']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"
                    style="width:80px"
                    type="button"
                    title="Delete this product"
                    (click)="deleteProduct()"
                  >
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>